[workspace]
resolver = "2" # Use the latest resolver
members = [
    "crates/repo_roller_core",
    "crates/github_client",
    "crates/template_engine",
    "crates/config_manager",
    "crates/auth_handler",
    "crates/repo_roller_cli",
    "crates/repo_roller_api",
    "crates/repo_roller_mcp",
    "crates/repo_roller_azure_fn",
]

[workspace.package]
authors = ["Patrick van der Velde"]
repository = "https://github.com/pvandervelde/RepoRoller"
version = "0.1.0"
license-file = "LICENSE"

[workspace.dependencies]
# Common dependencies can be added here later
