[package]
authors.workspace = true
edition = "2021"
license-file.workspace = true
name = "repo_roller_cli"
repository.workspace = true
version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "4.5.4", features = ["derive"] }
repo_roller_core = { path = "../repo_roller_core" }
toml = "0.8.21"
serde = { version = "1.0", features = ["derive"] }
regex = "1.10.4"
thiserror = { workspace = true }
