[package]
authors.workspace = true
edition = "2021"
license-file.workspace = true
name = "github_client"
repository.workspace = true
version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
octocrab = "0.38"
tokio = { version = "1.37", features = ["rt-multi-thread", "macros"] }
thiserror = "1.0"
jsonwebtoken = "9.3"
tracing = "0.1"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
base64 = "0.22"

[dev-dependencies]
wiremock = "0.6"
tokio = { version = "1.37", features = [
    "macros",
    "rt-multi-thread",
] } # Ensure test runtime features
serde_json = "1.0" # For constructing mock responses
rsa = "0.9"
rand = "0.8"
